sylius_resource:
    resources:
        sylius_refund.credit_memo:
            classes:
                model: Sylius\RefundPlugin\Entity\CreditMemo
        sylius_refund.line_item:
            classes:
                model: Sylius\RefundPlugin\Entity\LineItem
                interface: Sylius\RefundPlugin\Entity\LineItemInterface
        sylius_refund.tax_item:
            classes:
                model: Sylius\RefundPlugin\Entity\TaxItem
                interface: Sylius\RefundPlugin\Entity\TaxItemInterface
        sylius_refund.refund:
            classes:
                model: Sylius\RefundPlugin\Entity\Refund
                factory: Sylius\RefundPlugin\Factory\RefundFactory
        sylius_refund.refund_payment:
            classes:
                model: Sylius\RefundPlugin\Entity\RefundPayment
        sylius_refund.application_reason:
            classes:
                model: Sylius\RefundPlugin\Entity\ApplicationReason
                interface: Sylius\RefundPlugin\Entity\ApplicationReasonInterface
                repository: Sylius\RefundPlugin\Repository\ApplicationReasonRepository
                form: Sylius\RefundPlugin\Form\Type\ApplicationReasonType
            translation:
                classes:
                    model: Sylius\RefundPlugin\Entity\ApplicationReasonTranslation
                    interface: Sylius\RefundPlugin\Entity\ApplicationReasonTranslationInterface
                    form: Sylius\RefundPlugin\Form\Type\ApplicationReasonTranslationType
        sylius_refund.refund_request:
            classes:
                model: Sylius\RefundPlugin\Entity\RefundRequest
                interface: Sylius\RefundPlugin\Entity\RefundRequestInterface
                controller: Sylius\RefundPlugin\Controller\RefundRequestController
                repository: Sylius\RefundPlugin\Repository\RefundRequestRepository
        sylius_refund.refund_request_message:
            classes:
                model: Sylius\RefundPlugin\Entity\RefundRequestMessage
                interface: Sylius\RefundPlugin\Entity\RefundRequestMessageInterface
                form: Sylius\RefundPlugin\Form\Type\RefundRequestMessageType
        sylius_refund.refund_request_message_file:
            classes:
                model: Sylius\RefundPlugin\Entity\RefundRequestMessageFile
                interface: Sylius\RefundPlugin\Entity\RefundRequestMessageFileInterface
                form: Sylius\RefundPlugin\Form\Type\RefundRequestMessageFileType
        sylius_refund.refund_request_unreaded_message:
            classes:
                model: Sylius\RefundPlugin\Entity\UnreadedRefundRequestMessage
                interface: Sylius\RefundPlugin\Entity\UnreadedRefundRequestMessageInterface

sylius_mailer:
    emails:
        units_refunded:
            subject: Units refunded
            template: "@SyliusRefundPlugin/Email/unitsRefunded.html.twig"

framework:
    messenger:
        buses:
            sylius_refund_plugin.command_bus:
                middleware:
                    - doctrine_transaction
                    - messenger.middleware.dispatch_after_current_bus
            sylius_refund_plugin.event_bus:
                default_middleware: allow_no_handlers

winzou_state_machine:
    sylius_order:
        states:
            fully_refunded: ~
        transitions:
            refund:
                from: [new, fulfilled]
                to: fully_refunded
    sylius_refund_refund_payment:
        class: Sylius\RefundPlugin\Entity\RefundPayment
        property_path: state
        graph: sylius_refund_refund_payment
        state_machine_class: "%sylius.state_machine.class%"
        states:
            new: ~
            completed: ~
        transitions:
            complete:
                from: [new]
                to: completed
    sylius_refund_refund_request:
        class: "%sylius_refund.model.refund_request.class%"
        property_path: state
        graph: sylius_refund_refund_request
        state_machine_class: "%sylius.state_machine.class%"
        states:
            new: ~
            cancelled: ~
            accepted: ~
            pending_item_return: ~
            package_received: ~
            completed: ~
        transitions:
            accept:
                from: [new]
                to: accepted
            cancel:
                from: [new]
                to: cancelled
            send_item:
                from: [accepted]
                to: pending_item_return
            receive_package:
                from: [pending_item_return]
                to: package_received
            complete:
                from: [accepted, package_received]
                to: completed

sylius_grid:
    templates:
        filter:
            credit_memo_channel: '@SyliusRefundPlugin/Grid/Filter/channel.html.twig'
    grids:
        sylius_refund_credit_memo:
            driver:
                name: doctrine/orm
                options:
                    class: Sylius\RefundPlugin\Entity\CreditMemo
            sorting:
                number: asc
            fields:
                number:
                    type: string
                    label: sylius.ui.number
                    sortable: ~
                order:
                    type: twig
                    label: sylius.ui.order
                    sortable: ~
                    options:
                        template: "@SyliusRefundPlugin/Order/Grid/Field/number.html.twig"
                channel:
                    type: twig
                    label: sylius.ui.channel
                    options:
                        template: "@SyliusRefundPlugin/Order/Grid/Field/channel.html.twig"
                total:
                    type: twig
                    label: sylius.ui.total
                    path: .
                    sortable: total
                    options:
                        template: "@SyliusAdmin/Order/Grid/Field/total.html.twig"
                issuedAt:
                    type: datetime
                    label: sylius_refund.ui.issued_at
                    options:
                        format: 'Y-m-d H:i:s'
            actions:
                item:
                    show:
                        type: show
                        label: sylius.ui.show
                        icon: eye
                        options:
                            link:
                                route: sylius_refund_credit_memo_details
                                parameters:
                                    id: resource.id
                                    orderNumber: resource.order.number
                    download:
                        type: default
                        label: sylius_refund.ui.download
                        icon: download
                        options:
                            link:
                                route: sylius_refund_admin_credit_memo_download
                                parameters:
                                    id: resource.id
                    resend:
                        type: default
                        label: sylius_refund.ui.resend
                        icon: send
                        options:
                            link:
                                route: sylius_refund_admin_credit_memo_send
                                parameters:
                                    id: resource.id
            filters:
                number:
                    type: string
                    label: sylius.ui.number
                issuedAt:
                    type: date
                    label: sylius_refund.ui.issued_at
                channel:
                    type: credit_memo_channel
                    label: sylius.ui.channel
        sylius_refund_application_reason:
            driver:
                name: doctrine/orm
                options:
                    class: Sylius\RefundPlugin\Entity\ApplicationReason
                    repository:
                        method: createListQueryBuilder
                        arguments: ["%locale%"]
            sorting:
                code: asc
            limits: [10, 25, 50]
            fields:
                code:
                    type: string
                    label: sylius.ui.code
                    sortable: ~
            filters:
                search:
                    type: string
                    label: sylius.ui.search
                    options:
                        fields: [code]
                enabled:
                    type: boolean
            actions:
                main:
                    create:
                        type: create
                item:
                    update:
                        type: update
                    delete:
                        type: delete
                bulk:
                    delete:
                        type: delete
        sylius_refund_refund_request:
            driver:
                name: doctrine/orm
                options:
                    class: Sylius\RefundPlugin\Entity\RefundRequest
            sorting:
                createdAt: desc
            fields:
                state:
                    type: twig
                    label: sylius.ui.state
                    sortable: ~
                    options:
                        template: "@SyliusUi/Grid/Field/state.html.twig"
                channel:
                    type: twig
                    label: sylius.ui.channel
                    options:
                        template: "@SyliusRefundPlugin/Order/Grid/Field/channel.html.twig"
                createdAt:
                    type: datetime
                    label: sylius_refund.ui.created_at
                    options:
                        format: 'Y-m-d H:i:s'

            filters:
                createdAt:
                    type: date
                    label: sylius_refund.ui.created_at
                channel:
                    type: credit_memo_channel
                    label: sylius.ui.channel
            actions:
                item:
                    show:
                        type: show
                        label: sylius.ui.show
                        icon: eye
                        options:
                            link:
                                route: sylius_refund_admin_refund_request_show
                                parameters:
                                    id: resource.id
                                    orderId: resource.order.id

doctrine:
    dbal:
        types:
            sylius_refund_refund_type: Sylius\RefundPlugin\Entity\Type\RefundEnumType
